---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import HomeLayout from "@src/layouts/HomeLayout.astro";
import PostsList from "@comp/postlist/postsList.astro";
import { ThemeConfig } from "@src/theme_config";
import { utils } from "@src/utils/utils";
import { CollectionEntry, getCollection } from "astro:content";

changeLanguage("zh");

export async function getStaticPaths({ paginate }: any) {
    const thePageLanguage = 'zh'; //the language of this page
    const posts: CollectionEntry<"blog">[] = (await getCollection("blog"))
        .filter((post) => post.data.lang === thePageLanguage)
        .sort((a, b) => utils.compareDates(a.data.pubDate, b.data.pubDate));
    return paginate(posts, { pageSize: 10 });
}
const { page } = Astro.props;
---

<HomeLayout>
  {
    ThemeConfig.homePage.heroShoot && (
      <Fragment slot="beforeContainer">
        <div class="hero-shoot">
          <div
            class="hero-img"
            style={`background: url(${ThemeConfig.homePage.heroShoot}) center/cover no-repeat;`}
          />
          <h1 class="hero-title">
            {t("homePage.heroTitle") || ThemeConfig.homePage.heroTitle}
          </h1>
          <p class="hero-desc">
            {t("homePage.heroDescription") ||
              ThemeConfig.homePage.heroDescription}
          </p>
        </div>
      </Fragment>
    )
  }
  <Fragment slot="inContainer">
    <PostsList page={page} baseurl={localizePath("/")} />
  </Fragment>
</HomeLayout>
