#site-header {
  .menu-items {
    .menu-item {
      &.mine {
        .menu-item-icon {
          width: 20px;
        }
      }
    }
  }
}

.social-media.csdn {
  .social-icon {
    width: 26px !important;
  }
}

.wl-editor {
  transition: height 0s, background 0.25s ease !important;
}
