---
import { ThemeConfig } from "@src/theme_config";
import GetIcon from "@comp/icons/getIcon.astro";

const items: Array<MenuItem> = ThemeConfig.header.menu;
---

<Fragment>
  {
    items.map((item) => (
      <div
        class:list={[
          "menu-item",
          item.customClass,
          { "has-child": item.children },
        ]}
      >
        <a href={item.link || "javascript:void(0);"} class="menu-item-link">
          <GetIcon Icon={item.icon} class="menu-item-icon" />
          <span class="menu-item-name">{item.name}</span>
        </a>
        {() => {
          if (item.children) {
            return (
              <ul class="menu-children">
                {item.children.map((child) => (
                  <li class:list={["menu-child", child.customClass]}>
                    <a
                      href={child.link || "javascript:void(0);"}
                      class="menu-child-link"
                    >
                      <GetIcon Icon={child.icon} class="menu-child-icon" />
                      <span class="menu-child-name">{child.name}</span>
                    </a>
                  </li>
                ))}
              </ul>
            );
          }
        }}
      </div>
    ))
  }
</Fragment>
