---
import "@style/components/search.scss";
import SearchCore from "./client/searchCore.vue";
---

<div id="search" class="hide">
  <div class="search-wrap">
    <div class="search-header">
      <div class="search-title">搜索</div>
      <div class="search-close" onclick={"hsu.closesearch()"}>
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <SearchCore client:only />
    <div class="search-hits">
      <a class="search-hit" href="/3">热门</a>
      <a class="search-hit">今天</a>
      <a class="search-hit">明天</a>
      <a class="search-hit">昨天</a>
    </div>
    <div class="search-comment">
      你可以使用类似 unix 的格式进行搜索：<a href="/"> 示例</a>
    </div>
  </div>
  <div class="search-mask" onclick={"hsu.closesearch()"}></div>
</div>
