---
import "@style/components/search.scss";
import i18next, { t } from "i18next";
import SearchCore from "@comp/client/searchCore.vue";
import { ThemeConfig } from "@src/theme_config";
import { utils } from "@src/utils/utils";
import GetIcon from "./icons/getIcon.astro";

const rawHits =
  (t("site.localSearch.hits", { returnObjects: true }) as string[]) ||
  ThemeConfig.site.localSearch.hits;

const hits = rawHits.map((hit) => utils.replaceLink(hit, "search-hit"));
const comment = utils.replaceLink(
  utils.executeEmbeddedScripts(
    t("site.localSearch.comment") || ThemeConfig.site.localSearch.comment
  )
);
---

<div id="search" class="hide">
  <div class="search-wrap">
    <div class="search-header">
      <div class="search-title">
        {t("words.search")}
      </div>
      <GetIcon
        Icon="local:solid.xmark"
        class="search-close"
        onclick={`hsu.closesearch()`}
      />
    </div>
    <SearchCore client:only lang={i18next.language} />
    <div class="search-hits">
      {hits.map((hit) => <Fragment set:html={hit} />)}
    </div>
    <div class="search-comment" set:html={comment} />
  </div>
  <div class="search-mask" onclick={"hsu.closesearch()"}></div>
</div>
