---
import "@style/components/footer.scss";
import { t } from "i18next";
import { ThemeConfig } from "@src/theme_config";
import { utils } from "@utils/utils";

const copyright = utils.replaceLink(
  utils.executeEmbeddedScripts(
    t("footer.copyright") || ThemeConfig.footer.copyright
  ),
  "footer-link"
);
const footerText = utils.replaceLink(
  utils.executeEmbeddedScripts(t("footer.text") || ThemeConfig.footer.text),
  "footer-link"
);
---

<footer id="site-footer">
  <div class="footer-container">
    <div class="copyright">
      <Fragment set:html={copyright} />
    </div>
    <div class="astro-build">
      由 <a class="footer-link" href="https://astro.build">{Astro.generator}</a>
      构建 | 主题 <a
        class="footer-link"
        href="https://github.com/KraHsu/HsuBlog">HsuBlog</a
      >
    </div>
    <div class="footer-info">
      <Fragment set:html={footerText} />
    </div>
  </div>
</footer>
