@import "./directives.scss";
.post-main {
  display: flex;

  flex-direction: column;

  color: var(--font-black-white);

  font-size: var(--font-post-size);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    cursor: default;

    user-select: none;

    transition: 0.3s ease;

    font-family: var(--heading-font-family);

    &:before {
      content: "#";
    }

    &:hover {
      margin-left: 10px;

      color: var(--theme-color);
    }
  }

  hr {
    margin: 1rem 0;

    border: 1px solid var(--border-light-grey);
  }

  p {
    display: inline-table;
  }
  .image {
    display: flex;

    align-items: center;

    flex-direction: column;

    margin-top: 2rem;

    .img-wrap {
      display: flex;

      overflow: hidden;

      max-width: 80%;

      border-radius: 15px;

      @include card-style();

      img {
        width: 100%;

        cursor: pointer;

        transition: 0.3s;

        &:hover {
          transform: scale(1.03);

          filter: brightness(0.8);
        }
      }
    }

    .img-comment {
      margin-top: 5px;

      color: var(--font-dark-grey);
    }
  }

  code {
    margin: 0 3px;

    padding: 0px 5px 2px 5px;

    color: var(--font-code-color);

    border-radius: 4px;

    background: var(--font-code-background);

    font-family: var(--code-font-family);

    font-size: 16px;
  }

  blockquote {
    display: flex;

    justify-content: center;

    margin: 0.5rem 0;

    height: 40px;

    align-items: center;

    .quote-left,
    .quote-right {
      margin: 0 1rem;

      color: var(--font-light-grey);

      width: 24px;

      height: 24px;
    }

    .quote-right {
      align-self: flex-end;
    }

    .quote-left {
      align-self: flex-start;
    }

    p {
      margin: 0;
    }
  }

  ul {
    padding-left: 20px;

    list-style-type: disc;
  }

  ol {
    padding-left: 20px;
  }

  .table-wrap {
    overflow: hidden;

    margin: 1rem auto;

    user-select: none;

    border-radius: 10px;

    @include card-style();
  }

  table {
    display: table;

    empty-cells: show;

    border-spacing: 0px;

    border-collapse: collapse;

    thead {
      background: #eee;
    }

    th,
    td {
      padding: 0.3rem 0.6rem;

      vertical-align: middle;

      border: 1px solid #e3e8f7;
    }
  }

  mark {
    position: relative;

    background: none;

    &:before {
      position: absolute;

      top: calc((var(--font-post-size) / 2));

      left: 0;

      width: 100%;

      height: calc((var(--font-post-size) / 2));

      content: "";

      opacity: 0.4;

      background: var(--mark-background);
    }
  }

  strong {
    margin: 0 3px;
  }

  a {
    text-decoration: none;
  }

  .link {
    margin-right: 2px;

    margin-left: 2px;

    color: var(--link-color);

    border-bottom: 2px solid var(--link-color);

    transition: 0.3s ease;

    &:hover {
      background-color: var(--link-color);

      color: white;

      border-bottom-color: white;

      padding: 0 4px;

      border-radius: 6px;
    }

    svg {
      height: 16px;

      width: 16px;

      margin-left: 4px;

      margin-bottom: -2px;
    }
  }

  .contains-task-list {
    padding: 0;

    list-style-type: none;
  }
}

.post-aside {
  width: 280px;

  margin-top: 1rem;

  .card-toc {
    padding: 0.5rem 1rem;

    font-size: 16px;

    .card-toc-header {
      margin: 10px 0;

      font-size: 18px;

      font-weight: 600;
    }

    .toc {
      margin: 0;

      margin-left: 5px;

      padding: 0;

      padding-left: 10px;

      list-style-type: none;

      border-left: 1px solid var(--border-light-grey);

      .toc-item {
        transition: 0.2s;

        .toc-link {
          display: block;

          max-width: 90%;

          transition: 0.3s;

          text-decoration: none;

          color: var(--font-black-white);

          .toc-text {
            display: inline-block;

            overflow: hidden;

            width: 100%;

            transition: 0.2s;

            white-space: nowrap;

            text-overflow: ellipsis;

            color: var(--font-light-grey);
          }

          .toc-text:before {
            display: inline;

            content: "#";
          }
        }

        &:hover {
          .toc-link {
            .toc-text {
              padding-left: 10px;

              color: var(--theme-color);
            }
          }
        }
      }
    }
  }
}

.code-block {
  position: relative;

  overflow: hidden;

  margin: 1rem 3rem;

  border-radius: 10px;

  .code-head {
    display: flex;

    align-items: center;

    height: var(--code-lang-height);

    padding: calc((var(--code-lang-height) - 22px) / 2) 10px;

    user-select: none;

    color: var(--font-dark-grey);

    background: var(--codeblock-background-grey);

    .code-expand {
      width: 18px;

      height: 18px;

      margin-right: 5px;

      cursor: pointer;
    }

    .code-lang {
      font-size: 18px;

      font-weight: 600;

      margin-bottom: 2px;
    }
  }

  .code-wrap {
    // padding: 0 0 0 2.4rem;
    transition: 0.3s ease;

    transform: translateZ(0);

    background: var(--astro-code-color-background);

    font-size: var(--font-code-size);

    .hsu-code {
      margin: 0;

      padding: 1rem;

      padding-left: 3.4rem;

      transition: 0.3s ease;

      ::selection {
        background-color: #274669;
      }

      .block-code {
        margin: 0;

        padding: 0;

        background: transparent;
      }
    }
    .line {
      display: inline-block;

      height: 24px;

      counter-increment: line;

      font-family: var(--code-font-family);

      &::before {
        position: absolute;

        left: 0.5rem;

        width: 2.4rem;

        height: 24px;

        content: counter(line);

        text-align: center;

        color: var(--font-light-grey);
      }
    }
  }

  .code-copy {
    position: absolute;

    top: 45px;

    right: 5px;

    width: 24px;

    height: 24px;

    cursor: pointer;

    transition: 0.3s;

    opacity: 0;

    color: #274669;

    i {
      font-size: 24px;
    }
  }
  &:hover .code-copy {
    opacity: 1;
  }
}

.target-to {
  animation: 0.5s blink 3;
}

[data-theme="dark"] {
  .code-wrap.light {
    display: none;
  }
  .post-main {
    img {
      filter: brightness(0.7);
    }
  }
}

[data-theme="light"] {
  .code-wrap.dark {
    display: none;
  }
}
