---
import HeroWave from "@comp/header/heroWave.astro";
import PostLayout from "@src/layouts/PostLayout.astro";
import { ThemeConfig } from "@src/theme_config";
interface FrontMatter {
  title: string;
  description?: string;
  heroColor?: string;
  useComments?: boolean;
  useToc?: boolean;
  toc?: {
    level: string;
    id: string;
    value: string;
  }[];
  file: string;
  url: string;
}

interface Props {
  frontmatter: FrontMatter;
}

const { frontmatter } = Astro.props;
---

<PostLayout
  useComments={frontmatter.useComments && ThemeConfig.comments.type !== false}
  frontmatter={frontmatter}
  desc={frontmatter.description}
>
  <HeroWave
    class="post-header"
    slot="post-hero"
    heroColor={frontmatter.heroColor}
  >
    <div class="post-info">
      <h1 class="post-title">{frontmatter.title}</h1>
    </div>
  </HeroWave>
  <slot />
</PostLayout>
